<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title>
    <link rel="stylesheet" href="../../assets/css/footer.css">
    <link rel="stylesheet" href="../../plugin/fontawesome-free-5.15.4-web/css/all.min.css">
    <link rel="stylesheet" href="../../assets/bootstrap/bootstrap-5.3.3-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../plugin/themify-icons/themify-icons.css">
</head>

<body>
    <div class="wrapper">
        <!-- footer -->
        <div class="footer">
            <!-- footer top -->
            <div class="footer-top">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-6">
                            <div class="row">
                                <div class="col-xl-6">
                                    <div class="footer-top-content">
                                        <div class="title-footer">Giới Thiệu</div>
                                        <p>Thực phẩm Organic Wandave chuyên cung cấp các thực phẩm tươi sạch, giá cả
                                            phải
                                            chăng. Đạt tiêu chuẩn chất lượng</p>
                                        <p>
                                            <i class="fas fa-map-marker-alt"></i>
                                            <span>59A Âu cơ, Phường
                                                14, Quận 11, TP. HCM</span>
                                        </p>
                                        <p><i class="fas fa-phone-alt"></i>
                                            <span>
                                                <a href="../pages/home.html">0385942049</a>
                                            </span>
                                        </p>
                                        <p><i class="far fa-envelope"></i>
                                            <span>
                                                <a href="../pages/home.html">wandave@gmail.com</span></a>
                                        </p>
                                    </div>
                                </div>
                                <div class="col-xl-6">
                                    <div class="row">
                                        <div class="col-xl-6">
                                            <div class="footer-top-content">
                                                <div class="title-footer">Liên kết</div>
                                                <ul>
                                                    <li>
                                                        <a href="../pages/home.html">Tìm kiếm</a>
                                                    </li>
                                                    <li><a href="../pages/introduce.html">Giới thiệu</a></li>
                                                    <li><a href="../pages/contact.html">Liên hệ</a></li>
                                                    <li><a href="../pages/home.html">Hệ thống cửa hàng</a></li>

                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-xl-6">
                                            <div class="footer-top-content">
                                                <div class="title-footer">Chính sách</div>
                                                <ul>
                                                    <li>
                                                        <a href="../pages/home.html">Chính sách thanh toán</a>
                                                    </li>
                                                    <li><a href="../pages/home.html">Chính sách đổi trả</a></li>
                                                    <li><a href="../pages/home.html">Chính sách bảo mật</a></li>
                                                    <li><a href="../pages/home.html">Điều khoản sử dụng</a></li>

                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6">
                            <div class="row">
                                <div class="col-xl-6">
                                    <div class="footer-top-content">
                                        <div class="title-footer">Fanpage</div>
                                    </div>
                                </div>
                                <div class="col-xl-6">
                                    <div class="footer-top-content">
                                        <div class="title-footer">Đăng ký nhận khuyến mãi</div>
                                        <p>Hãy là người đầu tiên nhận khuyến mãi</p>
                                        <div class="submit">
                                            <input type="text" placeholder="Email">
                                            <input type="submit" value="Đăng ký">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /footer top -->
            <!-- footer bottom -->
            <div class="footer-bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-2">
                            <img src="../../assets/images/logo.png" alt="" width="100%">
                        </div>
                        <div class="col-xl-8 d-flex justify-content-center">
                            <span>© Copyright 2024 By wandave. Powered by Haravan</span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /footer bottom -->
        </div>

        <!-- /footer -->
    </div>
</body>

</html>