<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../assets/css/header.css">
    <link rel="stylesheet" href="../../plugin/fontawesome-free-5.15.4-web/css/all.min.css">
    <link rel="stylesheet" href="../../assets/bootstrap/bootstrap-5.3.3-dist/css/bootstrap.min.css">
</head>

<body>
    <div class="wrapper">
        <!-- header -->
        <div class="header">
            <!-- header-top -->
            <div class="header_top">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4">
                            <span>Hotline 1900.66.099</span>
                        </div>
                        <div class="col-lg-4 d-flex justify-content-center">
                            <span>Miễn phí ship đơn hàng 500.000đ</span>
                        </div>
                        <div class="col-lg-4 d-flex justify-content-end">
                            <ul class="header-social-networks nav">
                                <li>
                                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fab fa-instagram"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /header-top -->
            <!-- header-nav -->
            <div class="header-nav">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-2">
                            <a href="../../pages/home.html">
                                <img src="../../assets/images/logo.png" alt=""></a>
                        </div>
                        <div class="col-lg-8 d-flex justify-content-center">
                            <ul class="nav header-nav-menu">
                                <li>
                                    <a href="../../pages/home.html">Trang chủ</a>
                                </li>
                                <li class="product-relative">
                                    <div>
                                        <a href="../../pages/category.html">Sản phẩm
                                            <i class="fas fa-angle-down"></i>
                                        </a>
                                    </div>
                                    <ul class="product-absolute nav">
                                        <li>
                                            <ul class="menu-product text-left">
                                                <li>
                                                    <b><a href="../../pages/product-detail.html">Trái cây</a></b>
                                                </li>
                                                <li>
                                                    <a href="../../pages/product-detail.html">Nho len</a>
                                                </li>
                                                <li><a href="../../pages/product-detail.html">Táo len</a></li>
                                                <li><a href="../../pages/product-detail.html">Chuối len</a></li>
                                                <li><a href="../../pages/product-detail.html">Sầu riêng len</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <ul class="menu-product text-left">
                                                <li>
                                                    <b><a href="../../pages/product-detail.html">Rau củ</a></b>
                                                </li>
                                                <li><a href="../../pages/product-detail.html">Cà rốt len</a></li>
                                                <span class="hot">Hot</span>
                                                <li><a href="../../pages/product-detail.html">Củ dền len</a></li>
                                                <li><a href="../../pages/product-detail.html">Súp lơ len</a></li>
                                                <li><a href="../../pages/product-detail.html">Ngô len</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <ul class="menu-product text-left">
                                                <li>
                                                    <b><a href="../../pages/product-detail.html">Động vật</a></b>
                                                </li>
                                                <li>
                                                    <a href="../../pages/product-detail.html">Gấu len</a>
                                                </li>
                                                <li><a href="../../pages/product-detail.html">Vịt len</a></li>
                                                <li><a href="../../pages/product-detail.html">Mèo len</a></li>
                                                <li><a href="../../pages/product-detail.html">Thỏ len</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <ul class="menu-product text-left">
                                                <li>
                                                    <b><a href="../../pages/product-detail.html">Bánh</a></b>
                                                </li>
                                                <li>
                                                    <a href="../../pages/product-detail.html">Bánh quy len</a>
                                                </li>
                                                <li><a href="../../pages/product-detail.html">Pizza len</a></li>
                                                <li><a href="../../pages/product-detail.html">Bánh donut len</a></li>
                                                <li><a href="../../pages/product-detail.html">Bánh kem len</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <ul class="menu-product text-left">
                                                <li>
                                                    <b><a href="../../pages/product-detail.html">Hoa</a></b>
                                                </li>
                                                <li><a href="../../pages/product-detail.html">Hoa hồng len</a></li>
                                                <li>
                                                    <a href="../../pages/product-detail.html">Hoa tulip len</a>
                                                </li>
                                                <li><a href="../../pages/product-detail.html">Hoa quả mọng len</a></li>
                                                <li><a href="../../pages/product-detail.html">Hướng dương len</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li class="blog-relative">
                                    <a href="../../pages/blog.html">Blog
                                        <i class="fas fa-angle-down"></i></a>
                                    <ul class="blog-absolute nav">
                                        <li class="text-left">
                                            <a href="../../pages/blog.html">Tin tức</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="../../pages/introduce.html">Giới thiệu</a>
                                </li>
                                <li>
                                    <a href="../../pages/contact.html">Liên hệ</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-2 d-flex justify-content-end">
                            <ul class="header-actions nav">
                                <li class="search-relative">
                                    <a href="#"><i class="fas fa-search"></i></a>
                                    <div class="box-arrow search-absolute">
                                        <a href="#">Tìm kiếm</a>
                                    </div>
                                </li>
                                <li class="user-relative">
                                    <a href="#"><i class="far fa-user"></i></a>
                                    <div class="box-arrow user-absolute">
                                        <a href="#">Đăng ký</a>
                                        <a href="#">Đăng nhập</a>
                                    </div>
                                </li>
                                <li>
                                    <div class="cart-relative">
                                        <a href="#"><i class="fas fa-shopping-cart"></i></a>
                                        <div class="box-arrow cart-absolute">
                                            <a href="#">Giỏ hàng</a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /header-nav -->
        </div>
        <!-- /header -->
    </div>
</body>
<script src="../../assets/js/jquery-3.7.1.js"></script>
<script src="../../assets/js/scroll.js"></script>
</script>

</html>